<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.example.hamid_pc.biddingapp">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:supportsRtl">

        <activity
            android:name=".activities.AuthenticationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.NavigationActivity"/>
        <activity
            android:name=".activities.ProductDetailActivity"
            android:parentActivityName="com.example.hamid_pc.biddingapp.activities.NavigationActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.hamid_pc.biddingapp.activities.NavigationActivity"/>
        </activity>
        <activity android:name=".activities.ProductEntryActivity"
                  android:parentActivityName="com.example.hamid_pc.biddingapp.activities.NavigationActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.hamid_pc.biddingapp.activities.NavigationActivity" />


        </activity>

        <activity
            android:name=".activities.BidOperationActivity"
            android:parentActivityName="com.example.hamid_pc.biddingapp.activities.NavigationActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.hamid_pc.biddingapp.activities.NavigationActivity"/>


        </activity>


    </application>

</manifest>
